# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\BilgeAdam\ANKARA-GRUP\Bilgeadam-Ankara\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
